# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [46]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
jeopardy = pd.read_csv("jeopardy.csv")
jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,no value,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [56]:
def filter_df(df, word_list):
    regex_list =[rf"\b{word}\b" for word in word_list] 
    regex = "|".join(regex_list)
    new_df=df[df[" Question"].str.contains(regex, case= False)]
    return new_df
    
test = filter_df(jeopardy, ["King", "England"])
test

,Show Number,Air Date,Round,Category,Value,Question,Answer,value_float
40,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$1200,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_26.mp3"">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>",Yertle,1200.0
50,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$2000,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_24.mp3"">""500 Hats""... 500 ways to die. On July 4th, this young boy will defy a king... & become a legend</a>",Bartholomew Cubbins,2000.0
116,5957,2010-07-06,Final Jeopardy!,HISTORIC WOMEN,no value,"She was born in Virginia around 1596 & died in Kent, England in 1617",Pocahontas,NaN
146,3751,2000-12-18,Double Jeopardy!,PEOPLE IN HISTORY,$200,"After a 15-year stay in England, this proprietor of Pennsylvania returned to his colony in 1699",William Penn,200.0
296,4931,2006-02-06,Final Jeopardy!,FAMOUS SHIPS,no value,"On December 27, 1831 it departed Plymouth, England to map the coastline of South America",the HMS Beagle,NaN
...,...,...,...,...,...,...,...,...
216675,3940,2001-10-19,Double Jeopardy!,"""CAB""",$600,"Stephen King's 1980 overview of the horror genre was called ""Danse"" this",Macabre,600.0
216752,5070,2006-09-29,Jeopardy!,SIGNING OFF,$200,"Upon signing his name in 1776 he said, ""There, King George will be able to read that without his spectacles""",(John) Hancock,200.0
216777,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$400,The first one of these tombs was built about 2650 B.C. by Imhotep for King Zoser & rose about 200 feet using steps,a pyramid (the pyramids accepted),400.0
216787,5070,2006-09-29,Double Jeopardy!,TALES OF E.T.A. HOFFMANN,"$2,000","A Hoffmann tale title lost the words ""And The Mouse King"" when it became this Tchaikovsky ballet",The Nutcracker,2000.0
216789,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$1200,"This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric",Wessex,1200.0

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

Fixed by adding word boundries to the regex and making the contains method case insensitive

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [54]:
jeopardy["value_float"]=pd.to_numeric(jeopardy[" Value"].str.replace(r"[$,]","", regex= True),errors="coerce")
jeopardy

,Show Number,Air Date,Round,Category,Value,Question,Answer,value_float
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus,200.0
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe,200.0
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona,200.0
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's,200.0
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams,200.0
...,...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot,2000.0
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse,2000.0
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker,2000.0
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo,2000.0
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,no value,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin,NaN

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [59]:
def unique_answers(filtered_df):
    return filtered_df[" Answer"].nunique()
unique_answers(test)

2142

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [81]:
computer_df = filter_df(jeopardy,["computer"])
computer_df_1900 = computer_df[computer_df[" Air Date"].str.slice(stop=4).astype(int) < 2000]
computer_df_2000 = computer_df[computer_df[" Air Date"].str.slice(stop=4).astype(int) >= 2000]
print(f"In the 90s there was {len(computer_df_1900)} question that used the word 'Computer', in The 200s we see that number increase by {round(len(computer_df_2000)/len(computer_df_1900)*100)}% to {len(computer_df_2000)} ")

In the 90s there was 84 question that used the word 'Computer', in The 200s we see that number increase by 331% to 278

In [138]:
print(jeopardy[" Round"].unique())
category_count = jeopardy.groupby([" Category", " Round"]).count()[" Value"].reset_index()
category_count.rename({" Value": "Count"}, inplace=True, axis=1)
category_count_jeopardy = category_count[category_count[" Round"] == "Jeopardy!"].sort_values(by = "Count", ascending=False)
category_count_double_jeopardy = category_count[category_count[" Round"] == "Double Jeopardy!"].sort_values(by = "Count", ascending=False)
category_count_final_jeopardy = category_count[category_count[" Round"] == "Final Jeopardy!"].sort_values(by = "Count", ascending=False)
category_count_tie_breaker = category_count[category_count[" Round"] == "Tiebreaker"].sort_values(by = "Count", ascending=False)
print(category_count_jeopardy[:4])
print(category_count_double_jeopardy[:4])
print(category_count_final_jeopardy[:4])

['Jeopardy!' 'Double Jeopardy!' 'Final Jeopardy!' 'Tiebreaker']
             Category      Round  Count
21024       POTPOURRI  Jeopardy!    255
24562  STUPID ANSWERS  Jeopardy!    255
23909          SPORTS  Jeopardy!    253
4514          ANIMALS  Jeopardy!    233
              Category             Round  Count
5574    BEFORE & AFTER  Double Jeopardy!    450
16377       LITERATURE  Double Jeopardy!    381
22623          SCIENCE  Double Jeopardy!    296
31020  WORLD GEOGRAPHY  Double Jeopardy!    254
              Category            Round  Count
29260  U.S. PRESIDENTS  Final Jeopardy!     50
30863     WORD ORIGINS  Final Jeopardy!     34
24253   STATE CAPITALS  Final Jeopardy!     31
5114           AUTHORS  Final Jeopardy!     27

In [ ]:
import random

import random
import pandas as pd

def play_jeopardy(df):
    # Check if DataFrame is valid
    if df.empty or " Question" not in df.columns or " Answer" not in df.columns:
        print("The provided Jeopardy data is invalid or empty.")
        return
    
    user_input = ""
    print("Welcome to Jeopardy!")
    print("Input your answer after each question or enter 'end game' to exit the game.")
    
    while user_input != "end game":
        # Get a random index
        index = random.randint(0, len(df) - 1)
        
        # Fetch question and answer
        question = df[" Question"].iloc[index]
        answer = df[" Answer"].iloc[index]
        
        # Display the question and get user input
        user_input = input(f"Question: {question}\nYour Answer: ").strip()
        
        # End game check
        if user_input.lower() == "end game":
            print("Thanks for playing Jeopardy!")
            break
        
        # Check answer
        if user_input.lower() == answer.lower():
            print(f"Correct! The answer is: {answer}\n")
        else:
            print(f"Wrong! The correct answer is: {answer}\n")

# Example Usage:
# df = pd.DataFrame({
#     " Question": ["What is the capital of France?", "What is 2+2?"],
#     " Answer": ["Paris", "4"]
# })
# play_jeopardy(df)


play_jeopardy(jeopardy)

Welcome to Jepoardy!
input your answer after each question or enter 'end game' to exit game

After WWII the state form of this Asian religion was abolished; the sectarian form was unaffected communism

Wrong! the answer is Shintoism

Cougar what?

Wrong! the answer is Puma

This Neb. city's Henry Doorly Zoo has the largest glazed geodesic dome, housing the world's largest indoor desert idk

Wrong! the answer is Omaha

Pre-Socratic "all is one" thinker: RAPMENIDES ok

Wrong! the answer is Parmenides

Popular in the mid-1800s, this tall type of silk hat is especially associated with Abraham Lincoln aghan

Wrong! the answer is the stove-pipe hat

1,024 megabytes gigabyte

Wrong! the answer is a gigabyte

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.